*{
    margin: 0;
    padding: 0;
}

header{
    background: rgba(51, 51, 51, 0.89);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

/* navigation bar */

nav{
    display:flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    opacity: 0.9;
}

/* logo setting */

.logo{
    display: flex;
    align-items: center;
}

.ptss img{
    width: 105px;
}

.usha img{
    width: 165px;
    height: 70px;
}

/* navigation button */

.bar{
    display: flex;
    align-items: center;
}

.bar ul{
    display: flex;
    list-style: none;
}

a{
    padding: 10px 20px;
    margin: 2px;
    font-size: 19px;
    text-decoration: none;
    color: antiquewhite;
    border-radius: 3px;
}

.bar a:hover,
.bar a:active{
    border-bottom: 2px solid green;
}


/* section */

/* landing page */

.land::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.24);
}

.land *{
    z-index: 4;
    /* font-size: 26px; */
}

.land{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 10px;
    background: url('../images/land.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: black;
}

.land h1,
.land p{
    padding: 10px 5px;
}

.btn1{
    margin: 10px 2px;
    padding: 2px 0px;
    background: rgb(7, 139, 95, 0.9);
    border-radius: 3px;
    font-family: 'Baloo Bhaina 2', cursive;
    color: whitesmoke;
}

.btn1:hover{
    background: rgba(4, 107, 73, 0.993);
}

/* icons */

.icon{
    display:flex;
    width: 100%;
    flex:1;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Baloo Bhaina 2', cursive;
    background: rgba(226, 223, 223, 0.966);
}

.icon-items{
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    text-align: center;
}

.icon-items p{
    font-size: 14px;
}

.know{
    display: flex;
    justify-content: flex-end;
    background: rgba(226, 223, 223, 0.966);
    font-family: 'Baloo Bhaina 2', cursive;
}

/* Joining section */

.join{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* border: 2px solid red; */
    flex: 1;
}

.join-item{
    width: 50%;
}

.join-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.join-content{
    background: rgba(226, 223, 223, 0.966);
    font-family: 'Baloo Bhaina 2', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.join-content h2,
.join-content h3,
.join-content p{
    padding:10px 0px;
}

/* Professional Section */

.pro-content{
    display: flex;
    justify-content: space-evenly;
    background: rgba(226, 223, 223, 0.966);
}

.pro-heading h2{
    text-align: center;
    background: rgba(32, 51, 223, 0.966);
    border-radius: 20px;
    color:whitesmoke;
    
}

.pro-heading{
    margin: 5px auto;
    text-align: center;
    width: 50%;
}

.professional{
    display: flex;
    flex:1;
    flex-direction: row;
    justify-content: center;
    width:100%;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 800;
    background: rgba(226, 223, 223, 0.966);

}

.sadhana,
.kakali,
.ashoke{
    height: 250px;
    width: 33%;
    background: url('../images/professional.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 4px 4px 10px  #888888;
}

.sadhana img,
.kakali img,
.ashoke img{
    width: 90px;
    height:90px;
    border-radius: 50%;
}

.pro-heading h2{
    padding: 10px 5px;
}

/* footer */

.devolope{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.829);
    color: blanchedalmond;
    font-family: 'Baloo Bhaina 2', cursive;
    align-items: center;
    justify-items: center;
}

.devolope-profile img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
    border-radius: 50%;
}


/* About page  */


.about-background{
    height: 60vh;
    width: 100%;
    background: url('../images/about.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
}

.about-content{
    font-family: 'Source Sans Pro', sans-serif;
    background: rgba(226, 218, 218, 0.918);
    text-align: center;
    padding: 13px 10px;
    font-size: 16px;
}

.inside-btn{
    display: flex;
    justify-content: center;
}

/* Goals section */

.goal{
    display: flex;
    width: 100%;
    background: rgba(226, 218, 218, 0.918);
    justify-content: flex-start;
    font-family: 'Baloo Bhaina 2', cursive;
}

.goal-item{
    width:50%;
}

.goal-item img{
    width: 100px;
}

/* Contact page */

.contact-background{
    background: url('../images/contact.jpg') no-repeat center center/cover;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
}

.contact-heading{
    padding-left: 100px;
    padding-bottom: 100px;
    font-family: 'Ubuntu', sans-serif;
}

/* contact form */

.contact-form{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 20px 0px;
    font-family: 'Krub', sans-serif;
    width: 60%;
    margin: auto;
    font-weight: 900;
    font-size: 22px;
}

.contact-form label{
    display: block;
    margin: 5px 0px;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 550;
    font-size: 18px;
}

.btn{
    width: 120px;
    font-family: 'Roboto', sans-serif;
    padding:  10px 5px;
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.842);
    color: blanchedalmond;
    font-size: 18px;
    margin: auto;
}

.btn:hover{
    transform: scale(1.12);
}

.contact-icon{
    display:flex;
    flex-direction: row;
    width: 100%;
    background-color: rgba(223, 215, 215, 0.712);
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
}

.contact-item{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
}

.contact-item img{
    width: 60px;
}

/* Blog Page */

.blog-background{
    background: url('../images/blog.jpg') no-repeat center center/cover;
    height: 65vh;
    width: 100%;
}

.mask{
    text-align: center;
    color: brown;
    background: rgb(188, 215, 216);
    font-size: 24px;
}

.mask h1{
    padding: 20px 5px;
}

/* Gallery section */

.gallery-heading{
    text-align: center;
    background: rgb(188, 215, 216);
    padding: 20px 0px;
    font-size: 24px;
    color: rgb(255, 0, 85);
}

.gallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background:rgb(188, 215, 216);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.gallery img{
    width: 25%;
    height:200px;
}

