*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Landing Page */

#land{
    position: relative;
    widows: 100%;
    width: 100%;
    min-height: 100vh;
    background: url('../images/cover.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

#land:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff2562;
    clip-path: polygon(58% 0, 100% 0, 100% 100%, 85% 100%);
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1.1s;
    opacity: 0;
}

section .landing{
    position: relative;
    padding:100px 50px 100px 150px;
    box-sizing: border-box;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}
section .landing h2{
    color: #fff;
    font-size: 3em;
    font-weight: 800;
    text-shadow: 5px 5px 5px  gray;
}

section .landing p{
    color:#fff;
    font-size: 2.3rem;
    letter-spacing: 2px;
    border-right: 2px solid #fff;
}

section .landing a{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background: #ff2562;
    color: #fff;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 0.95rem;
    font-weight: 700;
    letter-spacing: 2px;
}

section .imgbox{
    position: relative;
    padding-right: 100px;
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 1s;
    opacity: 0;
}

section .imgbox img{
    max-width: 500px;
}

.nav{
    position: absolute;
    top:75px;
    left:150px;
    display: flex;
    border-left: 5px solid red;
    padding-left: 20px;
    animation: left-in 0.5s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
    
}

.nav li{
    list-style-type: none;
}

.nav li a{
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav li a:hover{
    color: #ff2562;

}

@keyframes fade-in{

    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes left-in{

    0%
    {
        transform: translateX(-200px);
        opacity: 0;
    }
    100%
    {
        transform: translatex(0px);
        opacity: 1;
    }
}


/* About Section */

#about{
    width: 100%;
    min-height:60vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Caveat', cursive;
    padding: 50px 100px;
    background: #f7f7f7;
    color:#898989;
    box-shadow: inset 50px 50px 200px #b9b7b7 ;
}

#about .about-heading{
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-shadow: 5px 5px 5px rgb(184, 177, 177);
}

#about .about-img{
    padding-bottom: 20px;
}


#about .about-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#about .about-info{
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 1px;
}

/* Education */

#education{
    width: 100%;
    min-height: 70vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(233, 231, 231, 0.979);
    padding: 20px 10px;
    background: #f7f7f7;
    color:#898989;
    box-shadow: inset 50px 50px 600px #cfcccc ;
}

#education .education-heading h1{
    padding: 20px 0px;
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px rgb(192, 184, 184);
    
}

#education .college,
#education .school{
    padding: 20px 8px;
}

#education .college h2,
#education .school h2{
    color: #07528d;
    padding: 5px  0px;
    text-shadow: 7px 7px 5px rgb(190, 190, 238);
}

#education .college h3,
#education .college h4,
#education .school h4{
    color:#0892fd;
    padding: 5px 0px;
    font-weight: 500;
    text-shadow: 5px 5px 5px rgb(190, 190, 238);
}

/* Skill Section */

#skillset{
    font-family: 'Open Sans',sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f1f1f1;
    box-shadow: inset 50px 50px 200px #b9b7b7 ;
}

#skillset .skillset-heading{
    font-size: 20px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #000;
    text-shadow: 5px 5px 5px rgb(184, 177, 177);
}
  
.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
  
.skill-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 20px 0;
}
  
.skill-bar{
    height: 20px;
    background: #cacaca;
    border-radius: 8px;
}
  
.skill-per{
    height: 20px;
    background-color: #0fbcf9;
    border-radius: 8px;
    width: 0;
    transition: 1s linear;
    position: relative;
}
  
.skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
.skill-per::after{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #000;
    top: -16px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

/* Contact Page */

#contact{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    min-height: 120vh;
    background: linear-gradient(0deg, #0f3959 50%,#fff 50%, #fff);
    position: relative;
}

.wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% , -50%);
    width: 50%;
    padding: 40px;
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
    margin-top: 5px;
}

.wrapper h2{
    color: #666;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}

.input-feild{
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.input-feild input,
.input-feild textarea{
    width: 100%;
    padding: 5px 3px;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #666;
    font-size: 16px;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
}

.input-feild label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 16px;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
}

.input-feild input:focus + label,
.input-feild textarea:focus + label,
.input-feild input:valid + label,
.input-feild textarea:valid + label
{
    top:-25px;
    font-size: 14px;
    padding: 2px 5px;
    background: #ff006a;
    border-radius: 4px;

}

#contact .btn{
    margin-top: 20px;
    background: #ff006a;
    color:#fff;
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
    float: right;
}

#contact .btn:hover{
    background: #0f3959;
}

/* Bottom Part */

#bottom{
    width: 100%;
    min-height: 50vh;
    background: #0f3959;
}

.bottom-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.address,
.mail,
.phone{
    display: flex;
    align-items: center;
}

.a-content{
    display: flex;
    flex-direction: column;
}
.address img,
.mail img,
.phone img{
    width: 40px;
    height: 40px;
    filter: invert(1);
    margin: 15px 15px;
    opacity: 0.5;
}

.address img:hover,
.mail img:hover,
.phone img:hover{
    opacity: 1;
}

.address p,
.mail p,
.phone p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    filter: invert(1);
    opacity: 0.5;
}

.address p:hover,
.mail p:hover,
.phone p:hover{
    opacity: 1;
}

.bottom-social{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.bottom-social img{
    filter: invert(1);
    opacity: 0.5;
    margin: 8px;
    height: 20px;
    width: 20px;
}

.bottom-social img:hover{
    opacity: 1;
}

#footer{
    background: #0f3959;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    font-weight: 800;
}

#footer p{
    filter: invert(1);
    opacity: 0.5;
}

#footer p:hover{
    opacity: 1;
}